<section id="existingPost">
    <div class="bwm-form">
      <div class="row">
        <div class="col-md-5">
          <ng-container *ngIf="existingPost">
              <h1 class="page-header">Create Post</h1>

              <form #updatePostForm="ngForm" (ngSubmit)="onUpdatePost(updatePostForm)">

                <div class="form-group">
                  <label for="title">Title</label>
                  <input type="text" class="form-control" id="title" name="title" #titleInput="ngModel"
                   [(ngModel)]="existingPost.title" [value]="existingPost.title"
                    [ngClass]="{'is-invalid': titleInput.invalid && (titleInput.dirty || titleInput.touched)}" required>
                    <div *ngIf="titleInput.invalid" class="invalid-feedback">
                      <strong *ngIf="titleInput?.errors.required">Title is required</strong>
                    </div>
                </div>

                <div class="form-group">
                  <app-image-upload (imageUploaded)="handleImageUpload($event)"
                  (imageError)="handleImageError()" [existedImage]="existingPost.imagePath"></app-image-upload>
                </div>

                <div class="form-group">
                  <label for="description">Description</label>
                  <textarea rows="5" type="text" class="form-control" id="description" name="description" #descriptionInput="ngModel"
                    [(ngModel)]="existingPost.content" [ngClass]="{'is-invalid': descriptionInput.invalid && (descriptionInput.dirty || descriptionInput.touched)}"
                    required [value]="existingPost.content">
                  </textarea>
                  <div *ngIf="descriptionInput.invalid" class="invalid-feedback">
                    <strong *ngIf="descriptionInput?.errors.required">Description is required</strong>
                  </div>
                </div>


                <button type="submit" class="btn btn-success" [disabled]="updatePostForm.invalid || !existingPost.imagePath && imageUploadError">Submit</button>
                <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
                <div class="alert alert-danger" role="alert" *ngIf="imageUploadError">
                  <strong>An image was expected</strong>
                </div>
              </form>
          </ng-container>

        </div>
        <div class="col-md-6 ml-auto">
          <div class="card bg-dark text-dark">
            <img src="assets/images/rental3.jpg" alt="">
            <div class="card-img-overlay">
            <h4 class="catchphrase">Note. People are atrracted to Post's with catchy title</h4>
          </div>
          </div>
        </div>
      </div>
    </div>
  </section>
